@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General */
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Poppins', sans-serif;
  color: #444444;
  background-color: #FFFAFA;
}

a {
  text-decoration: none;
  color: #49b5e7;
}

a:hover {
  color: #76c7ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background:#1da2e0;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6dc4ec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Header */
#header {
  background: #FFEDE4;
  background-image: url(/assets/img/wave.png);
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Poppins', serif;
}

#header .logo a {
  color: #0f394c;
  text-decoration: none;
}

/* #header .logo img {
  max-height: 40px;
} */

/* Navigation Menu */
/* Desktop Navigation */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar ul li a {
  padding: 0px 18px;
  font-size: 14px;
  text-transform: capitalize;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 0 10px 30px; */
  font-family: "Dosis", sans-serif;
  /* font-size: 15px; */
  font-weight: 600;
  color: #0f394c;
  white-space: nowrap;
  transition: 0.3s;
  /* text-transform: uppercase; */
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #FF5705;
  /* text-decoration: underline; */
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #49b5e7;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

/* cart button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 26px;
  gap: 7px;
  background-color: #FFEDE4;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  /* cursor: pointer; */
  transition: 400ms;
  color: rgb(8, 8, 8);
}

.button .text {
  color: white;
  font-weight: 600;
  font-size: 1em;
  transition: 400ms;
  padding-top: 13px;
  color: rgb(8, 8, 8);
}

.button svg path {
  color: #e6573f;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: black;
}

.button:hover svg path {
  fill: black;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/* Mobile Navigation  */
.mobile-nav-toggle {
  color: #0f394c;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(7, 25, 33, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0f394c;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #49b5e7;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #49b5e7;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/* Hero Section */
#hero {
  width: 100%;
  height: 80vh;
  background: #f9f9f9;
  background-image: url(/assets/img/wave\ \(1\).png);
}

#hero .container {
  padding-top: 84px;
}

#hero h4 {
  color: #fa6b23;
}

#hero h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  color: #0f394c;
  text-transform: uppercase;
}

#hero h1 span {
  color: #FF5705;
}

#hero h2 {
  color: #1c698c;
  margin: 10px 0 0 0;
  font-size: 20px;
}

#hero .btn-get-started {
  /* font-family: "Dosis", sans-serif; */
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 22px;
  border-radius: 20px;
  transition: 0.5s;
  /* margin-top: 25px; */
  color: #fff;
  background: #664ae7;
  text-transform: uppercase;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #FF5705;
}


@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero .hero-img img {
    width: 80%;
  }
}

/* slide section */
/* .clients {
  margin-bottom: 100px;
} */

/* .clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
} */

/* .clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e96b56;
} */

/* .clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e96b56;
} */

.clients .swiper-slide img {
  /* opacity: 0.5; */
  transition: 0.3s;
  /* filter: grayscale(100); */
  border-radius: 7px;
}

.clients .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

/* Sections General */
section {
  padding: 60px 0;
  overflow: hidden;
}

/* .section-bg {
  background-color: #f4fbfe;
} */

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  /* text-transform: uppercase; */
  margin-bottom: 40px;
  padding-bottom: 0;
  color: #FF5705;
  /* margin-top: 62px; */
  font-family: 'Poppins', serif;
}

.section-title p {
  margin-bottom: 0;
}

/* About section */
.about h2 {
  font-size: 36px;
  color: #FF5705;
}

.about .icon-boxes {
  background-image: url(/assets/img/asset.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* .about .icon-box {
  margin-top: 40px;
} */

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #d0ecf9;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #49b5e7;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #FF5705;
  border-color: #FF5705;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #49b5e7;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.about-img {
  margin-top: 16px;
}

.about-img img {
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .about .video-box {
    margin-left: 15px;
    margin-right: -15px;
  }
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#49b5e7 50%, rgba(73, 181, 231, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(73, 181, 231, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #49b5e7;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* Clients section */
.clients h2 {
  color: #FF5705;
  font-size: 36px;
}

.clients .client-logo {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid #eee;
  border-bottom: 1px solid #eee; */
  /* overflow: hidden; */
  background: #fff;
  height: 120px;
  border-radius: 10px;
  box-shadow: rgba(235, 213, 155, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(235, 142, 201, 0.05) 25px 25px;
}

.clients .client-logo img {
  height: 50%;
  /* filter: grayscale(100%); */
  transition: 0.3s;
}

.clients .client-logo:hover img {
  filter: none;
  transform: scale(1.2);
}

.clients img {
  transition: all 0.4s ease-in-out;
}

/* courses */
.courses .course-item {
  border-radius: 10px;
  padding: 20px 15px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  /* height: 320px; */
}

.courses .course-item img {
  border-radius: 10px;
}

.courses .course-content h4 {
  font-size: 17px;
}

.courses .course-content h3 {
  font-weight: 700;
  font-size: 14px;
}

.courses .course-content h3 a {
  background-color:#36348d;
  color: white;
  transition: 0.3s;
  border-radius: 20px;
  padding: 10px 15px;
}

.courses .course-content h3 a:hover {
  background-color: #e6573f;
  color: white;
}

.course-content .user {
  font-size: 20px;
}

.course-content .user .bxs-user {
  color: blue;
}

.course-content .user h3 {
  font-weight: 600;
  font-size: 22px;
  color: #e6573f;
}

.user .student span {
  font-size: 16px;
}

.courses .course-btn a {
  background-color: #36348d;
  color: white;
  transition: 0.3s;
  border-radius: 15px;
  padding: 10px 45px;
  font-size: 20px;
  font-weight: 500;
}

.courses .course-btn a:hover {
  background-color: #e6573f;
}

/* class section */
.class-img {
  max-height: 380px;
  margin-top: 40px;
  border-radius: 20px;
}

.class-img img{
  border-radius: 14px;
}

/* ceo section */
.ceo{
  background-image: url(/assets/img/wave\ \(1\).png);
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .home-sections {
    margin-top: 80px;
  }
}

.home-sections .section-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  /* color: var(--secondary); */
  pointer-events: none;
}

@media (max-width: 991px) {
  .home-sections .section-title {
    font-size: 18px;
  }
}

.find-instructor-section .find-instructor-section-hero {
  max-width: 400px;
  max-height: 460px;
  border-radius: 40px 4px 40px 4px;
  box-shadow: 0 30px 60px 0 rgba(1, 11, 60, 0.14);
  margin-left: 40px;
}

.find-instructor-section .find-instructor-section-circle,
.find-instructor-section .find-instructor-section-dots {
  position: absolute;
  z-index: -1;
}

.find-instructor-section .find-instructor-section-circle {
  top: -50px;
  right: 10%;
}

.find-instructor-section .find-instructor-section-dots {
  bottom: -25px;
  left: -30px;
  animation: hero-dot 5s linear 0s infinite alternate;
}


@media (max-width: 768px) {
  .find-instructor-section .find-instructor-section-hero {
    margin-bottom: 50px;
  }

  .find-instructor-section .find-instructor-section-dots {
    bottom: 25px;
  }
}

.section-ceo h2{
  color: #fa6b23;
}

.ceo-btn a{
  border: none;
  background-color: #664ae7;
}

.ceo-btn a:hover{
  background-color: #fa6b23;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 10px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #49b5e7;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #bdc6ca;
  border-left: 3px solid #bdc6ca;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #bdc6ca;
  border-right: 3px solid #bdc6ca;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #0f394c;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #0f394c;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #49b5e7;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #8dd0f0;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/* team section */
/* .team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #0f394c;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(73, 181, 231, 0.8);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #76c7ed;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #0f394c;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
} */

/* gallery section */
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  margin-bottom: 14px;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
  border-radius: 5px;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/* review section */
.review {
  margin-bottom: 60px;
  margin-top: 60px;
}

.card {
  border: none;
}

.user-detail img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 14px;
}

.user-detail h5 span {
  font-size: 10px;
  font-weight: 300;
  margin-left: 3px;
}

.card-title .bxs-star {
  color: #f0de41;
}

/* Frequently Asked Questions */
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #e82c88;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #36348d;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #e82c88;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

.faq .faq-list {
  /* background-color: #e0dcdc; */
  padding: 0px 0px;
  /* border-radius: 18px; */
  border-radius: 1px solid gray;
}

.faq h2 {
  font-size: 36px;
  font-weight: 700;
  color: #fa684e;
}

/* Contact section */
iframe{
  border-radius: 16px;
}

.map{
  border: 10px solid rgb(243, 238, 238);
  border-radius: 16px;
}

/* Footer */
#footer {
  /* background: #fff; */
  /* padding: 0 0 30px 0; */
  /* color: #444444; */
  font-size: 14px;
  margin-top: 48px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  /* background: #fff; */
  background-color: #343a40;
  color: white;
  background-image: url(/assets/img/mesh-336.png);
  /* background-repeat: no-repeat; */
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  /* color: #777777; */
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  /* color: #0f394c; */
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  /* color: #49b5e7; */
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  /* color: #49b5e7; */
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #49b5e7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #1da2e0;
  /* color: #fff; */
  text-decoration: none;
}

.ftr-down{
  background-color: #1c698c;
  padding: 40px 0;
}

#footer .copyright {
  color: white;
}


@media (max-width: 575px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
  }
}